@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #09090b;
    color: #e4e4e7;
    font-family: ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  ::selection {
    background-color: #6366f1;
    color: #fff;
  }
}
